.testing {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.testing .content .img {
  width: 100%;
}
.testing .content .img img {
  width: 100%;
  min-height: 20rem;
}
.testing .content .text {
  font-size: 1.5rem;
  color: #353f45;
  margin-top: 2rem;
}
.testing .content .text p {
  margin: 1.5rem auto;
}
